In [1]:
%load_ext sql
%sql sqlite:///AuctionBase.db

In [3]:
%sql SELECT sql FROM sqlite_master;

 * sqlite:///AuctionBase.db
Done.

[('CREATE TABLE Item (\n    ItemID INTEGER PRIMARY KEY,\n    SellerID INTEGER,\n    Name TEXT,\n    Category TEXT,\n    First_Bid REAL,\n    Currently R ... (94 characters truncated) ... n    Started DATETIME,\n    Ends DATETIME,\n    Description TEXT,\n    FOREIGN KEY (SellerID) REFERENCES Seller(UserID)\n        ON DELETE CASCADE\n)',),
 ('CREATE TABLE Seller (\n    UserID TEXT PRIMARY KEY,\n    Rating INTEGER\n)',),
 (None,),
 ('CREATE TABLE Bid (\n    ItemID INTEGER,\n    Time DATETIME,\n    Amount REAL,\n    BidderID INTEGER,\n    PRIMARY KEY(ItemID, Amount),\n    FOREIGN KEY (BidderID) REFERENCES Bidder(UserID)\n        ON DELETE CASCADE\n)',),
 (None,),
 ('CREATE TABLE Bidder (\n    UserID TEXT PRIMARY KEY,\n    Rating INTEGER,\n    Location TEXT,\n    Country TEXT\n)',),
 (None,)]

In [4]:
%sql SELECT * FROM Bidder

 * sqlite:///AuctionBase.db
Done.

[]