In [5]:
%load_ext sql
%sql sqlite:///AuctionBase.db

In [ ]:
%sql SELECT sql FROM sqlite_master;

In [9]:
%sql SELECT * FROM Bidder LIMIT 5;

 * sqlite:///AuctionBase.db
Done.

[('$4bob', 2747, None, None),
 ('$9.99warehouse', 1286, None, None),
 ('$ave$online', 423, None, None),
 ('$dealmaker$', 360, None, None),
 ('$ugarfoot', 2196, None, None)]